dd{
    text-align: left;
}


.AbtProduct a{
    color: black;
    text-decoration-color: blue;
    text-decoration-style: solid;
    text-decoration-thickness: .2rem;
    /* padding-left: 3rem; */
}

li{
    font-size: 14px;
    font-weight: 300;
    margin-left: 1.5rem;
}