dd{
    text-align: left;
}

/* .PayButtons{
    position: fixed;
    bottom: 0;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 100%;
    z-index: 3;
    background-color: white;
} */

.AbtProduct a{
    color: black;
    text-decoration-color: blue;
    text-decoration-style: solid;
    text-decoration-thickness: .2rem;
    padding-left: 3rem;
}

li{
    /* font-size: small; */
    margin-left: 1.5rem;
}